body {
    background: #161616;
}

.viewer-rapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pdf-page {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 400px;
    min-width: 400px;
}

.lector-page {
    border-radius: 3px;
}

.lector-page.loading {
    width: 100%;
    height: 600px;
    margin: 50px 0;
    background: rgba(255, 255, 255, 0.077);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pragma-loader {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
  
}
.pragma-loader div {
      width: 10px;
      height: 10px;
      border: 1px solid #FFF;
      background-color: #FFF;
}

.word-element {
    mix-blend-mode: darken !important;

    //&.hover-0 {
        //filter: blur(14px);
    //}
    //&.hover-1 {
        //filter: blur(18px);
    //}
    //&.hover-2 {
        //filter: blur(22px);
    //}

}
